/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa; /* Light gray background */
    color: #333; /* Dark gray text color */
    line-height: 1.6; /* Improved line height for readability */
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    border: 1px solid #e7e7e7; /* Adding a subtle border */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Soft shadow for depth */
}

/* Typography */
h1, h2 {
    text-align: center; /* Center align headings */
    font-weight: 600; /* Semi-bold font weight for emphasis */
    margin-bottom: 20px;
}

h1 {
    color: #007bff; /* Blue heading */
    font-size: 2.8rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2); /* Text shadow for a 3D effect */
}

h2 {
    color: #0056b3; /* Darker blue heading */
    font-size: 2rem;
    margin-bottom: 15px;
}

/* Text Elements */
p, li {
    font-size: 1.1rem; /* Medium font size for text elements */
    margin-bottom: 15px;
    line-height: 1.5; /* Improved line height for readability */
    color: #555; /* Slightly lighter text color for a modern look */
}

/* List Style */
ul {
    list-style-type: none;
    padding: 0;
}


/* Sections & Footer */
section, footer {
    background-color: #fff; /* White background for sections */
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 10px; /* Slightly rounded corners */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle box shadow for depth */
}

section:hover{
    background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
}

footer {
    background-color: #007bff; /* Blue background for footer */
    color: #fff; /* White text color for footer */
    text-align: center; /* Center align footer content */
    padding: 30px;
    border-top: 5px solid #0056b3; /* Adding a top border for visual separation */
}

/* Media Query for responsiveness */
@media (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 1.8rem;
    }
    p, li {
        font-size: 1rem;
    }
    .container {
        padding: 15px;
    }
}
